<h2>Customers</h2>

<div class="customer">
  <h3><%= link_to customer.first_name, "first_name" %></h3>
  <h3><%= link_to customer.last_name, "last_name" %></h3>
  <h3><%= link_to customer.address, "address" %></h3>


</div>