<h2>Search Results</h2>
<p>Products table size: <%= @products.size %></p>

<% if @products.size.zero? %>
  <p>No Products Were Found.<p>
  <% else %>
    <p><%= pluralize(@products.size, 'Product') %> Products Were Found.</p>
    <%= render @products %>
<% end %>